@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --background: #FCEADE;
  --header: #FFFFFF;
  --projects: #FFFFFF;
  --sidebar: #EA526F;
  --accent: #FF8A5B;
}
/* https://coolors.co/palette/25ced1-ffffff-fceade-ff8a5b-ea526f */

/* GENERAL */

* {
  font-family: 'Roboto', sans-serif;
  background: var(--background);
  margin: 0;
  padding: 0;
}

body {
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* SIDEBAR */

#sidebar {
  background: var(--sidebar);
  grid-area: 1 / 1 / 6 / 2;
  z-index: 2;
}

/* HEADER */

#header {
  background: var(--header);
  grid-area: 1 / 2 / 2 / 6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  z-index: 1;
}

/* MAIN */

#main {
  grid-area: 2 / 2 / 6 / 6;
  display: inline-grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: repeat(4, 200px);
  gap: 15px;
  padding: 20px 20px 0 10px;
  overflow-y: scroll;
  margin-bottom: 20px;
}

#projects {
  grid-area: 1 / 1 / 5 / 2;
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10px repeat(3, 1fr);
  gap: 20px;
}

.project,
.aside {
  background: var(--projects);
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.4);
}

.project {
  border-left: 10px solid var(--accent);
}

#announce {
  grid-area: 1 / 2 / 3 / 3;
}

#trends {
  grid-area: 3 / 2 / 5 / 3;
}

#announce,
#trends {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10px 1fr;
  gap: 20px;
}

.text {
  grid-area: 1 / 1 / 2 / 3;
  font-size: 1.1rem;
}