@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --background: #E5E5E5;
  --header: #FFFFFF;
  --projects: #FFFFFF;
  --sidebar: #14213D;
  --accent: #FCA311;
  --sidebarHighlight: #233A6C;
}
/* https://coolors.co/palette/000000-14213d-fca311-e5e5e5-ffffff */

/* GENERAL */

* {
  font-family: 'Roboto', sans-serif;
  background: var(--background);
  margin: 0;
  padding: 0;
}

body {
  display: inline-grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* SIDEBAR */

#sidebar {
  background: var(--sidebar);
  grid-area: 1 / 1 / 6 / 2;
  z-index: 2;
  display: grid;
  grid-template-areas:
    "brand"
    "brand"
    "home"
    "profile"
    "messages"
    "history"
    "tasks"
    "community"
    "."
    "settings"
    "support"
    "privacy";
  align-items: center;
}

.item {
  background: transparent;
  background-size: 0% 5px;
  background-position: 0%;
  color: var(--header);
  font-size: 1.4rem;
  padding-left: 10px;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.5s;
}
.item:hover {
  background: linear-gradient(90deg, var(--sidebarHighlight), transparent);
  background-size: 100% 5px;
  background-position: 0% 50%;
  background-repeat: no-repeat;
}
.item i {
  background: transparent;
  font-size: 1.2rem;
  padding-right: 10px;
}

#brand {
  grid-area: brand;
  font-size: 1.6rem;
}
#brand i {
  font-size: 2rem;
}
#home {
  grid-area: home;
}
#profile {
  grid-area: profile;
}
#messages {
  grid-area: messages;
}
#history {
  grid-area: history;
}
#tasks {
  grid-area: tasks;
}
#community {
  grid-area: community;
}
#settings {
  grid-area: settings;
}
#support {
  grid-area: support;
}
#privacy {
  grid-area: privacy;
}

/* HEADER */

#header {
  background: var(--header);
  grid-area: 1 / 2 / 2 / 6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.4);
  z-index: 1;
}

/* MAIN */

#main {
  grid-area: 2 / 2 / 6 / 6;
  display: inline-grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: repeat(4, 200px);
  gap: 15px;
  padding: 20px 20px 0 10px;
  overflow-y: scroll;
}

#projects {
  grid-area: 1 / 1 / 5 / 2;
  display: inline-grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10px repeat(3, 1fr);
  gap: 20px;
  padding-bottom: 20px;
}

.project,
.aside {
  background: var(--projects);
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgba(0,0,0,0.4);
}

.project {
  border-left: 10px solid var(--accent);
}

#announce {
  grid-area: 1 / 2 / 3 / 3;
}

#trends {
  grid-area: 3 / 2 / 5 / 3;
  padding-bottom: 20px;
}

#announce,
#trends {
  display: inline-grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10px 1fr;
  gap: 20px;
}

.text {
  grid-area: 1 / 1 / 2 / 3;
  font-size: 1.1rem;
}